.topnav {
  overflow: hidden;
  background-color: #fac4ff;
  border-style: solid;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  padding-bottom: 0.75rem;
}

.topnav a {
  display: flex;
  color: #000000;
  background-color: blanchedalmond;
  text-align: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  margin-top: -0.25rem;
  margin-bottom: -1rem;
  border-style: solid;
  font-weight: 500;
  margin-left: -0.5rem;
  margin-right: 0.25rem;
  border-color: black;

}

.topnav a:hover {
  background-color: rgb(0, 145, 145);
  color: white;
  border-color: black;

}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
  border-color: black;
}


body {
    margin: 0.25rem 0.25rem;
    background-color: rgb(255, 175, 175);
    min-height: 80vh;
    text-align: center;
    padding: 0;

}