h1 {
  text-shadow: 8px 8px 8px #2175eb;
  text-decoration-color:#2175eb;
  text-align: center;
  border-radius: 30px;
  background-color: #ffebcd;
  padding-right: 15px;
  padding-left: 15px;
  border-color: #2175eb;
  font-family: 'cookie', cursive;
  font-size: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

input{
  alignment-baseline: central;
  background-color: #ff825f;
  border: 3px solid #2175eb;
  padding: 3px;
  border-radius: 70px;
  position: absolute;
  left: 45%;
  top: 18.5%;
}
p{
  text-align:center;
  font-size:35px;
  color:#2175eb;
  font-weight:bold;




}