h1 {
  text-shadow: 4px 4px 0px #2175eb;

  text-decoration-color:#2175eb;
  text-align: center;
  border-radius: 30px;
  background-color: #ffebcd;
  padding-right: 1rem;
  padding-left: 0.625rem;
  padding-top: 0.35rem;
  border-color: #2175eb;
  font-family: 'cookie', cursive;
  font-size: 4rem;
  display: inline-flex;
  margin-left: 27.5%;
  margin-right: 27.5%;
}

input{
  alignment-baseline: central;
  background-color: #ff825f;
  border: 3px solid #2175eb;
  padding: 3px;
  border-radius: 70px;
  position: absolute;
  left: 45%;
  top: 18.5%;
}
p{
  text-align:center;
  font-size:35px;
  color:#2175eb;
  font-weight:bold;




}